@using CloveceWeb.Models;
@model CloveceModel
@{
    ViewData["Title"] = "PriradFarby";
}

<h1>PriradFarby</h1>


    <form action="/Clovece/Zacni">
        <label for="farba">Zvoľ si farbu pre @Model.PocitadloLudi. hráča: </label>
        <select id="farba" name="farba">
            <option value="modra">Modra</option>
            <option value="zelena">Zelena</option>
            <option value="zlta">Žlta</option>
            <option value="cervena">Červená</option>
        </select>
        <input type="submit" value="Odoslať">
    </form>

